export const featuresApi = {
  data: {
    accountLevelRanger: true,
    accountUsageTypes: true,
    activeDirectory: false,
    agentDowngradeLinux: false,
    agentDowngradeMacos: false,
    agentDowngradeWindows: false,
    agentsUpgradeMw: true,
    alaskaProcesses: false,
    allowAccountUsageTypesEdit: false,
    allowPublicNetworks: false,
    allowUploadingEaPackages: true,
    appInShell: false,
    appManagement: false,
    appVulnerability: true,
    atlasLoginActivity: false,
    attivoAdsDc: false,
    attivoAdsecureEp: false,
    attivoCiem: false,
    attivoCloudDecoy: false,
    attivoDeflect: false,
    attivoRangerAd: false,
    attivoThreatpath: false,
    attivoThreatstrikeAndCredentialProtection: false,
    autoDeploy: true,
    autoDisabledRequireAttention: false,
    autoFileUpload: true,
    autoFileUploadBenign: true,
    autoOnboarding: false,
    blockNewLocalUsers: false,
    blockTrialScopes: false,
    ciem: false,
    cisBenchmarks: false,
    cisSkipControl: false,
    cleaninstaller: false,
    cloudFunnel: true,
    consoleDarkMode: false,
    containerNq: false,
    cspm: true,
    customRbac: false,
    customRbacBanner: false,
    cwsTab: false,
    dashboardDateRange: false,
    dashboardExport: false,
    dcAccessPermissions: true,
    dcBluetooth: true,
    dcBluetoothLe: false,
    deployerWmiConnection: true,
    deviceControl: true,
    deviceSnack: true,
    disableAllEulas: false,
    disablePerformanceFocusExclusionMode: false,
    disablePerformanceFocusExtendedExclusionMode: false,
    dv180dRetention: true,
    dv30dRetention: true,
    dv365dRetention: true,
    dv90dRetention: true,
    dvDllModuleLoad: false,
    dvDotNotation: false,
    dvExpandedQueryLimit: false,
    dvExpandStorage: false,
    dvNamedPipe: false,
    dvNamedPipeExtended: false,
    dvPowerQueries: false,
    dvProcessGraph: false,
    dvProcessTree: true,
    dvScalyrIngest: true,
    dvScalyrQuery: true,
    dvSpeedDropdown: true,
    dvSubQuery: true,
    dvTcpv6Enabled: false,
    dvV21: true,
    elevatedSession: false,
    enablePqlParser: false,
    endpointTagging: true,
    endpointTaggingBanner: false,
    endpointTaggingUnlimited: false,
    enforceMandatory2fa: true,
    eulaForIr: false,
    eulaForPublic: false,
    extendedPathExclusion: true,
    externalReputationCheck: false,
    fetchFiles: false,
    fetchThreatFile: true,
    firewallControl: true,
    fixRegistrationKeyForGroup: false,
    gadActivitiesGeneration: true,
    gadInventory: true,
    globalAssetDist: false,
    graphqlGateway: false,
    idpLogin: false,
    iframeTokensAllowed: false,
    importExclusionsBlocklists: true,
    ioc: true,
    iocDevice: false,
    localUpgradeAuthorization: true,
    locationAwareness: true,
    marketplaceDataset: false,
    marketplaceNew: true,
    marketplaceResellRf: false,
    marketplaceXdrAnalysis: false,
    marketplaceXdrAutomation: false,
    marketplaceXdrFoundations: false,
    marketplaceXdrPrevent: false,
    microsoftSupported: false,
    mitreTool: true,
    mobileIntegration: false,
    multipleDashboards: true,
    multipleDashboardsBanner: false,
    networkTopologyRadialChart: false,
    newDashboard: false,
    newTfaFlow: false,
    podNq: false,
    proSkuIcon: false,
    ranger: true,
    rangerElectMacs: true,
    rangerUiVisibility: true,
    remoteOpsForensics: false,
    remoteOpsForensicsCollections: false,
    remoteOpsPassword: true,
    remoteShell: true,
    rightClickScan: true,
    rogues: true,
    rso: true,
    rsoConfig: true,
    rsoDataSet: false,
    rsoDefaultPaths: false,
    rsoLite: false,
    rsoPackages: true,
    rsoPendingExecutions: true,
    rsoUpload: true,
    serviceUser: true,
    sharedConsoleMenu: false,
    showHelpPortal: true,
    singularityMarketplace: true,
    singularitySignal: false,
    skylight: false,
    skylightDisableCrossTeamSearch: false,
    specificPorts: false,
    ssoOnboardingEmail: true,
    starAlerts: true,
    starAutomaticResponse: true,
    starHiddenRules: false,
    starProcessState: false,
    starScalyrRules: true,
    supportsNewSkus: true,
    survivabilityMode: false,
    tagManagementPage: true,
    taskInfraAgentUpgrade: true,
    taskInfraUpgradePolicy: true,
    tfaRequiredToLogin: false,
    threatIntelligence: false,
    threatXdr: true,
    threatXdrActions: true,
    threatXdrEnrichments: true,
    twoFaEmailRecovery: false,
    uninstallPassword: false,
    upgradeConcurrencyConf: false,
    upgradeConcurrencyConfBanner: false,
    upgradePolicies: false,
    uploadCsvFilter: true,
    useFullDnsScan: true,
    userDrivenLabelling: true,
    vigilance: false,
    war: true,
  },
};
