import { Rule } from "./src/types";
import * as rules from "./data/rules-collection.local";
import { ApiTarget } from "./data/known-api-targets.local";

export const logToSqlite = false;
export const listenOnPort = 55555;

export const liveApiTarget = ApiTarget.KubernetesIntegration;

const disableAllRules = false;
export const activeRules: Rule[] = disableAllRules
  ? rules.noRules
  : [
      ...rules.noRules,
    ];
