import { Rule } from "./src/types";
import * as rules from "./data/rules-collection.local";
import { ApiTarget } from "./data/known-api-targets.local";

export const logToSqlite = false;
export const listenOnPort = 55555;

export const liveApiTarget = ApiTarget.devStrapi;

const disableAllRules = false;
export const activeRules: Rule[] = disableAllRules
  ? rules.noRules
  : [
      // ...rules.noRules,
      // ...rules.noOrganizationNoStandalones,
      // ...rules.standalonesOnly,
      // ...rules.singleOrganizationNoStandalones,
      // ...rules.singleOrganizationPlusStandalones,
      // ...rules.multipleOrganizationsNoStandalones,
      // ...rules.multipleOrganizationsPlusStandalones,
      // ...rules.multipleOrganizationsScopedPlusStandalonesGlobal,
      ...rules.slowMultipleOrganizationsPlusStandalones,
    ];
