export enum ApiTarget {
  KubernetesStaging = `https://staging.example.net`,
  KubernetesIntegration = `https://integration.example.net`,
  KubernetesDevelopment = `https://development.example.net`,
  LocalDocker = `http://localhost`,
}
