import { accountsApi } from "./api-response-snapshot/accounts.local";
import { featuresApi } from "./api-response-snapshot/features.local";
import { organizationsApi } from "./api-response-snapshot/organizations.local";

const orgs = [...organizationsApi.data];
const orgA = {
  internalOrgId: "org-a",
  internalOrgName: "dummy@localhost",
};
const orgB = {
  internalOrgId: "org-b",
  internalOrgName: "dummy@localhost",
};
const additionalOrgs = [orgA, orgB];

const accounts = [...accountsApi.data];
const additionalAccounts = [
  ...accounts.splice(-4, 4).map((item) => ({
    ...item,
    cloudProviderOrganization: orgA.internalOrgId,
  })),
  ...accounts.splice(-8, 1).map((item) => ({
    ...item,
    cloudProviderOrganization: orgB.internalOrgId,
  })),
  ...accounts.splice(-4, 3).map((item) => ({
    ...item,
    cloudProviderOrganization: null,
    organizationName: null,
  })),
];

export const mockDb = {
  features: { ...featuresApi.data },
  directory: {
    accounts: [...accounts, ...additionalAccounts],
    organizations: [...orgs, ...additionalOrgs],
  },
};
